In [ ]:
Heroes Of Pymoli Data Analysis
 Trend 1
 Trend 2 
 Trend 3

In [1]:
import pandas as pd
import numpy as np

In [2]:
csvFile = 'purchase_data.json'
data = pd.read_json(csvFile)

data.head()

,Age,Gender,Item ID,Item Name,Price,SN
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46
2,34,Male,174,Primitive Blade,2.46,Assastnya25
3,21,Male,92,Final Critic,1.36,Pheusrical25
4,23,Male,63,Stormfury Mace,1.27,Aela59

In [3]:
data.columns

Index(['Age', 'Gender', 'Item ID', 'Item Name', 'Price', 'SN'], dtype='object')

In [4]:
#Display unique number of players
dict = {"Total Players": [len (data["SN"].unique())] }
pd.DataFrame.from_dict(dict,orient='columns')

   Total Players
0            573

In [5]:
#Purchasing Analysis
purchaseDict = {"Number of Unique Items": [len (data["Item Name"].unique())],                            
                "Total Revenue": [data["Price"].sum()],
                "Average Price": [data["Price"].mean()],
                "Number Of Purchases": [len (data) ]}
pd.DataFrame.from_dict(purchaseDict, orient = 'columns').reindex(columns=["Number of Unique Items","Average Price","Number Of Purchases","Total Revenue"])

   Number of Unique Items  Average Price  Number Of Purchases  Total Revenue
0                     179       2.931192                  780        2286.33

In [6]:
#Gender Demographics

genderDict = {}
genderList = []
percentList = []
totalList = []

genderGroup = data.groupby(["Gender"], sort = False)

total = genderGroup["Gender"].count().sum()


for row in genderGroup["Gender"]:
  genderList.append(row[0])
  totalList.append(len(row[1]))
  percentList.append(100 *(len(row[1])/total)) 
                   

genderDict["Gender"] = genderList
genderDict["Percentage of Players"] = percentList
genderDict["Total Count"] =  totalList  

 
myPd = pd.DataFrame.from_dict(genderDict,orient='columns')
myPd.set_index('Gender', inplace = True)

#display output
myPd

                       Percentage of Players  Total Count
Gender
Male                               81.153846          633
Female                             17.435897          136
Other / Non-Disclosed               1.410256           11

In [7]:
#Purchasing Analysis (Gender)
purchaseDict = {}

#references
#genderList
#genderGroup

genderPriceGroup = data.groupby(['Gender'], sort = False)

purchaseDict["Gender"] = genderList
purchaseDict["Purchase Count"] = totalList
purchaseDict["Average Purchase"] = genderPriceGroup['Price'].mean()
purchaseDict["Total Purchase Value"] = genderPriceGroup['Price'].sum()
purchaseDict["Normalized totals"] = genderPriceGroup['Price'].mean()

purchasePd = pd.DataFrame.from_dict(purchaseDict, orient ='columns')
purchasePd.set_index('Gender', inplace = True)

#display output
purchasePd

,Average Purchase,Normalized totals,Purchase Count,Total Purchase Value
Gender,,,,
Male,2.950521,2.950521,633,1867.68
Female,2.815515,2.815515,136,382.91
Other / Non-Disclosed,3.249091,3.249091,11,35.74

In [8]:
#Age Demographics

ageDict = {}
bins= [0, 10, 14,19,24,29,34,39,10000]
nRange = ["<10", "10-14","15-19","20-24","25-29","30-34","35-39","40+"]
out = []
percent = []
combined = []

ageGroup = data.groupby(['Age'], sort = False)

#Get the Series
occurances = ageGroup["Age"].count()

keyV = occurances.keys()
occ = occurances.get_values()

#get the worked from bin for histgram
for x in range(0, len(keyV)):
    for dumb in range(0, occ[x]):
         combined.append(keyV[x])
        
out,leftover =  np.histogram(combined, bins=bins)

#do percentages
for x in range(0,len(out)):
    percent.append( (out[x]/out.sum()) * 100)
    

ageDict["nRange"] = nRange 
ageDict["Total Count"] = out
ageDict["Percentage Of Players"] =  percent


agePd = pd.DataFrame.from_dict(ageDict,orient ='columns')
agePd.set_index('nRange', inplace = True)
agePd

        Percentage Of Players  Total Count
nRange
<10                  3.589744           28
10-14                3.717949           29
15-19               15.000000          117
20-24               36.923077          288
25-29               22.307692          174
30-34                9.871795           77
35-39                5.769231           45
40+                  2.820513           22

In [ ]:
#Purchasing Analysis (Age)
## The ranges for index is not Sequential !!
# I need to understand how to have discontinuities

In [74]:
#Top Spenders
snDict = {}

startPd = pd.DataFrame(data["SN"])
snGroup = data.groupby(['SN'], sort = False)

snGroupCount = pd.DataFrame(snGroup["Price"].count())
snGroupSum = pd.DataFrame(snGroup["Price"].sum())
snGroupMean = pd.DataFrame(snGroup["Price"].mean())

snDict["Purchase Count"] = snGroupCount.get_values()
snDict["Average Purchase Price"] = snGroupMean.get_values()
snDict["Total Purchase Value"] = snGroupSum.get_values()

newG = snGroup.count().reset_index()
snDict["SN"] = newG["SN"]



#snPd = pd.DataFrame.from_dict(snDict, orient ='columns')
#snPd.set_index('SN', inplace = True)
snGroupCount

NameError: name 'index' is not defined